<h1>Listing mailings</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Study</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailings.each do |mailing| %>
  <tr>
    <td><%= mailing.text %></td>
    <td><%= mailing.study_id %></td>
    <td><%= link_to 'Show', mailing %></td>
    <td><%= link_to 'Edit', edit_mailing_path(mailing) %></td>
    <td><%= link_to 'Destroy', mailing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailing', new_mailing_path %>
