<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Hallo <%= @user.name %>!</h1>

  <p>Ihnen wurde soeben ein Zugang zur Blogvision-Studie "<%= @study.title %>" erstellt.</p>

  <div>
    Die Zugangsdaten lauten:<br>
    Login: <%= @user.username %><br>
    Password: <%= @user.password %>
  </div>

  <p>Sie können sich sogleich unter <%= login_url %> einloggen.</p>

  <p>
    Mit freundlichen Grüßen,<br>
    Ihr Blogvision-Team
  </p>
</body>
</html>
