<li data-clickarea="<%= conversation_path(conversation) %>"<% unless conversation.read_by?(current_user) %> class="unread"<% end %>>
  <strong><%= conversation.subject %></strong><br>
  <%- if show_author -%>
    <%=t '.by' %> <%= display_name conversation.usera == current_user ? conversation.userb : conversation.usera %>
  <%- end -%>
  <span class="icon">
    <%= display_user_image current_user, :size => :small, :class => 'user-left' %>
    <%- if conversation.has_written_something current_user -%>
      <img src="<%= asset_path('transparent.gif') %>" class="info-dialog-left" width="30" height="24">
    <%- end -%>
    <%- userb = conversation.the_other_user(current_user) -%>
    <%- if conversation.has_written_something(userb) -%>
      <img src="<%= asset_path('transparent.gif') %>" class="info-dialog-right" width="30" height="24">
    <%- end -%>
    <%= display_user_image userb, :size => :small, :class => 'user-right' %>
  </span>
</li>
