<%= page_title('users.index.header') %>

<table class="full-table">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.user.nickname' %></th>
      <th><%=t 'activerecord.attributes.user.username' %></th>
      <th><%=t 'activerecord.attributes.user.email' %></th>
      <th><%=t 'activerecord.attributes.user.role' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %> <%= '(Du)' if is_me?(user) %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to t('actions.show'), user %></td>
        <td><%= link_to t('actions.edit'), edit_user_path(user) %></td>
        <td>
          <% if user.active %>
            <%= link_to t('actions.deactivate'), deactivate_user_path(user), :confirm => t('dialogs.deactivate.user'), :method => :put if !user.is_admin? %>
          <% else %>
            <%= link_to t('actions.reactivate'), reactivate_user_path(user), :confirm => t('dialogs.reactivate.user'), :method => :put if !user.is_admin? %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- TODO: make this nice button -->
<br />
<%= link_to t('actions.user.create'), new_user_path, :class => 'action actions-participant-add' %>
